<!DOCTYPE html>
<html lang="en" th:replace="fragments/layout :: layout(~{::title},~{::section})">
<head>
    <title>Formulaire creation project</title>
</head>
<body>
    <section>
        <h1>Formulaire de creation de project</h1>
        <form th:action="@{/projects/create}" th:object="${project}" method="post">
            <label for="name">Nom du projet :</label>
            <input type="text" id="name" th:field="*{name}"  />
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></div>

            <label for="creator">Créateur :</label>
            <select id="creator" th:field="*{creator.id}" required>
                <option value="" disabled selected>Les utilisateurs</option>
                <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.username}"></option>
            </select>

            <button type="submit">Créer</button>
        </form>
        
    </section>
    
</body>
</html>