<!DOCTYPE html>
<html lang="en" th:replace="fragments/layout :: layout(~{::title},~{::section})">
<head>
    <title>Formulaire de creation d'un user</title>
</head>
<body>
    <section>
        <h2>Formulaire de creation de user</h1>
        <form th:action="@{/users/create}" method="post" th:object="${user}">
            <label for="username">Nom d'utilisateur:</label>
            <input type="text" id="username" name="username"  th:field="*{username}" />
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></div>
            <button type="submit">Créer</button>
        </form>
    </section>
</body>
</html>